POSTGRES_USER=postgres_user_name
POSTGRES_PASSWORD=postgres_password
POSTGRES_SERVER=postgres_server
POSTGRES_PORT=postgres_port
POSTGRES_DATABASE=postgres_database

JWT_SECRET=jwt_secret
JWT_ALGORITHM=jwt_algorithm
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=jwt_access_token_expire_minutes

MONGO_SERVER=mongodb_server
MONGO_PORT=mongodb_port
MONGO_DATABASE=mongodb_database